.my-footer {
    background-color: #141b29;
    color: white;
    height: 5em;
    margin-top: 1.5em;
    padding: 1em;
    font-size: 80%;
}
.notie-container {
    box-shadow: none;
}

.datepicker {
    z-index: 10000;
}

.room-image {
    max-width: 50%;
}